[Unit]
Description=Process ChemManager background tasks
Requires=chemman.service
After=chemman.service

[Service]
WorkingDirectory=/home/bbz/environments/ChemManager-env
ExecStart=/home/bbz/environments/ChemManager-env/bin/python /home/bbz/environments/ChemManager-env/ChemManager/chemman/manage.py qcluster
Restart=always
User=bbz
Group=users

[Install]
WantedBy=multi-user.target
