[Unit]
Description=Run daily tasks for ChemManager

[Service]
Type=oneshot
User={{ user }}
Group={{ http_group }}
ExecStart={{ python }} {{ manage_py }} cm_daily
ExecStart={{ python }} {{ manage_py }} checkcmr

[Install]
WantedBy=multi-user.target

