{% extends 'core/base.html' %}

{% block content %}
<p class="uk-text-right">
    <a href="{{ url('core:delivery-initial') }}" class="uk-button uk-button-mini">
        {% trans %}Initial Delivery{% endtrans %}
    </a>
</p>
<h1 class="uk-text-center">{{ title }}</h1>
{% if storage %}
<h2 class="uk-text-center">{% trans %}To storage{% endtrans %}: {{ storage }}</h2>
{% else %}
<form class="uk-form uk-form-horizontal" method="get">
    <div class="uk-form-row">
        <label class="uk-form-label" for="storage">
            {% trans %}Select storage{% endtrans %}
        </label>
        <div class="uk-form-controls">
            <select id="storage" name="storage">
                {% for s in storages %}
                <option value="{{ s.id }}"{% if ts and ts.id == s.id %} selected{% endif %}>
                    {{ s }}
                </option>
                {% endfor %}
            </select>
            <button type="submit" class="uk-button uk-button-success">
                {% trans %}GO{% endtrans %}
            </button>
        </div>
    </div>
</form>
{% endif %}

{% if storage %}
<div class="uk-grid" data-uk-margin>
    <div class="uk-width-1-1">
        <form class="uk-form uk-form-horizontal">
            <input type="hidden" id="storage_id" value="{{ storage.id }}">
            <div class="uk-form-row">
                <label class="uk-form-label" for="barcode">{% trans %}Barcode{% endtrans %}</label>
                <div class="uk-form-controls">
                    <input type="text" maxlength="100" name="barcode" id="barcode" class="uk-width-1-1">
                </div>
            </div>
        </form>
    </div>
    {% if orders %}
    <div class="uk-width-1-1" id="step-1">
        <h3>{% trans %}Or select one from the orders:{% endtrans %}</h3>
        <div class="uk-grid" data-uk-margin>
            {% for o in orders %}
            {% set rest=o.count - o.delivered_count %}
            {% set log=o.barcode.chemical.special_log %}
            <div class="uk-width-1-1">
                <div class="uk-panel uk-panel-box{% if log %} cmr{% endif %}">
                    <div class="uk-panel-badge uk-badge">
                        {% trans %}Ordered{% endtrans %}:
                        {{ o.sent|date('SHORT_DATE_FORMAT') }}
                    </div>
                    <h3 class="uk-panel-title">
                        {{ o.barcode.name }}
                    </h3>
                    {% trans %}Count{% endtrans %}: {{ o.count }},
                    {% trans %}Delivered{% endtrans %}: {{ o.delivered_count }},
                    {% trans %}User{% endtrans %}: {{ o.user }}
                    <form class="uk-form" action="{{ url('core:delivery-store-packages') }}" id="form-{{ o.id }}">
                        <fieldset id="fs-{{ o.id }}" data-uk-margin>
                            <input type="hidden" id="rest_{{ o.id }}" value="{{ rest }}">
                            <input type="hidden" name="order" value="{{ o.id }}">
                            <input type="hidden" name="storage" value="{{ storage.id }}">
                            {% trans %}Delivered now{% endtrans %}:
                            <input type="number" class="uk-form-width-small" id="delivered_{{ o.id }}" min="1" max="{{ rest }}" name="delivered" required>
                            <button type="button" class="uk-button" onclick="deliver_all({{ o.id }});">
                                {% trans %}ALL{% endtrans %}
                            </button>
                            {% trans %}To place{% endtrans %}:
                            <select name="place">
                                {% for p in places %}
                                <option value="{{ p.id }}">{{ p }}</option>
                                {% endfor %}
                            </select>
                            <button type="button" class="uk-button" onclick="store_fast({{ o.id }}, {{ rest }});" id="btn-1-{{ o.id }}"{% if log %} disabled{% endif %}>
                                {% trans %}Store fast{% endtrans %}
                            </button>
                            <button type="submit" class="uk-button uk-button-success" id="btn-2-{{ o.id }}">
                                {% trans %}Store with extra data{% endtrans %}
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="uk-width-1-1" id="step-2"></div>
</div>
{% endif %}
{% endblock %}

{% block js %}
<script>
function barcode_entered(event) {
    if (event.which == 13) {
        var data = {'barcode': $('#barcode').val(),
                    'storage': $('#storage_id').val()};
        var url = '{{ url("core:api-delivery") }}';
        event.preventDefault();
        $('#step-1').remove();
        $.getJSON(url, data).done(function(res) {
            if (res['success'] == true) {
                $('#step-2').html(res['html']);
            } else {
                UIkit.notify(
                    '<i class="uk-icon-warning"></i> ' + res['html'],
                    {status: 'warning'}
                );
            }
        });
    }
}
function deliver_all(order_id) {
    var rest = $('#rest_' + order_id).val();
    $('#delivered_' + order_id).val(rest);
}
function store_fast(order_id, max) {
    var form = $('#form-' + order_id);
    var delivered = parseInt($('#delivered_' + order_id).val()) || 0;
    var success_html = '<span class="uk-badge uk-badge-notification uk-badge-success">{% trans %}Saved{% endtrans %}</span>';
    if (delivered == 0) {
        UIkit.modal.alert('{% trans %}Count is not given!{% endtrans %}');
        return false;
    }
    if (delivered > max) {
        UIkit.modal.alert('{% trans %}Count is greater than ordered!{% endtrans %}');
        return false;
    }
    var url = '{{ url("core:api-delivery-store-fast") }}';
    $.getJSON(url, form.serialize()).done(function(res) {
        if (res['success'] == true) {
            $('#btn-1-' + order_id).prop('disabled', true);
            $('#btn-2-' + order_id).prop('disabled', true);
            $('#fs-' + order_id).append(success_html);
        }
    });
}
$(document).ready(function() {
    $('#barcode').keypress(barcode_entered);
})
</script>
{% endblock %}
