{% extends 'core/base.html' %}
{% import 'core/macros.inc.html' as m with context %}

{% block content %}
<div class="uk-grid">
    <div class="uk-width-1-1">
        <h1 class="uk-text-center{% if chem.cmr %} cmr{% endif %}">
            {{ chem.display_name }}
            {{ m.risk_info(chem) }}
        </h1>
        <h3 class="uk-text-center">ID: {{ package.package_id }}</h3>
        <h4 class="uk-text-center">{{ package.place.storage }}</h4>
        <h4 class="uk-text-center">{{ package.place }}</h4>
    </div>
</div>
<div class="uk-grid">
    <div class="uk-width-1-3"></div>
    <div class="uk-width-1-3">
        <p>
            {% trans %}Please leave a reason, why you dispose this package.{% endtrans %}
        </p>
        <form class="uk-form" method="post">
            {% csrf_token %}
            <input type="text" name="reason" placeholder="{% trans %}Reason{% endtrans %}" maxlength="100" class="uk-form-width-large" required>
            <p>
                {% trans content=package.content_obj %}Are you really sure to dispose the package (current stock: {{ stock }}, package size: {{ content }})?{% endtrans %}
            </p>
            <div class="uk-grid">
                <div class="uk-width-1-2">
                    <a href="{{ url('core:package-info', pid=package.id) }}" class="uk-button uk-button-danger">
                        <i class="uk-icon-ban"></i>
                        {% trans %}Cancel{% endtrans %}
                    </a>
                </div>
                <div class="uk-width-1-2">
                    <button type="submit" class="uk-button uk-button-success uk-align-right">
                        <i class="uk-icon-trash"></i>
                        {% trans %}Yes{% endtrans %}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="uk-width-1-3"></div>
</div>
{% endblock %}
