{% extends 'core/base.html' %}

{% block content %}
<h1 class="uk-text-center">{{ company }}</h1>

<table id="dtable" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>{% trans %}No.{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Ident{% endtrans %}</th>
            <th>{% trans %}Content{% endtrans %}</th>
            <th>{% trans %}Quality{% endtrans %}</th>
            <th>{% trans %}ordered{% endtrans %}</th>
            <th>{% trans %}MSDS{% endtrans %}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>{% trans %}No.{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Ident{% endtrans %}</th>
            <th>{% trans %}Content{% endtrans %}</th>
            <th>{% trans %}Quality{% endtrans %}</th>
            <th>{% trans %}ordered{% endtrans %}</th>
            <th>{% trans %}MSDS{% endtrans %}</th>
        </tr>
    </tfoot>
    <tbody>
        {% for c in codes %}
        {% set chem=c.chemical %}
        {% set stchem=c.stored_chemical %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a href="{{ url('core:detail-by-id', cid=chem.id) }}" title="{% trans %}Show details for this chemical{% endtrans %}">
                    {{ chem.display_name }}
                </a>
                {% if stchem and stchem.name_extra %}({{ stchem.name_extra }}){% endif %}
            </td>
            <td title="{% trans %}Barcode{% endtrans %}: {{ c.code }}">
                {{ c.ident }}
            </td>
            <td>{{ c.content }} {{ c.unit }}</td>
            <td>{{ stchem.get_quality_display() }}</td>
            <td>{{ c.order_count }}x</td>
            <td>{% if stchem.msds %}
                <a href="{{ stchem.msds.document.url }}">{% trans %}Show{% endtrans %}</a>
                ({{ stchem.msds.published|date('SHORT_DATE_FORMAT') }})
                {% if stchem.msds.review_required and user.has_right('edit_chemical') %}
                <span class="label label-warning">
                    {% trans %}Sheet to old! Review required.{% endtrans %}
                </span>
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="uk-button uk-button-primary uk-margin-top" href="{{ url('core:info-orders') }}?filter=open">
    <i class="uk-icon-chevron-circle-left"></i> {% trans %}Back{% endtrans %}
</a>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    make_datatable($('#dtable'));
})
</script>
{% endblock %}
