{% extends 'core/base.html' %}
{% import 'core/macros.inc.html' as macros with context %}

{% block content %}
<h1 class="uk-text-center">{% trans %}Stored Chemicals{% endtrans %}</h1>
<p class="uk-text-center">
    {% trans m=thresholds['mass'], v=thresholds['vol'] %}The threshold for displaying stored chemicals in this table is set to {{ m }} / {{ v }}.{% endtrans %}
</p>
<table id="dtable" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>{% trans %}No.{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}MSDS{% endtrans %}</th>
            <th>{% trans %}Package Count{% endtrans %}</th>
            <th>{% trans %}Current Stock{% endtrans %}</th>
            <th>{% trans %}OI{% endtrans %}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>{% trans %}No.{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}MSDS{% endtrans %}</th>
            <th>{% trans %}Package Count{% endtrans %}</th>
            <th>{% trans %}Current Stock{% endtrans %}</th>
            <th>{% trans %}OI{% endtrans %}</th>
        </tr>
    </tfoot>
    <tbody>
        {% for c in chems %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a href="{{ url('core:detail-by-id', cid=c.id) }}">
                    {{ c.display_name }}
                </a>
            </td>
            <td>
                {% if c.identifiers.imported_from %}<a href="{{ c.identifiers.imported_from.url }}" target="_blank">{% trans %}MSDS{% endtrans %}</a> <i class="uk-icon-external-link"></i>{% else %}-{% endif %}
            </td>
            <td class="uk-text-center" id="pc_{{ c.id }}">
            </td>
            <td class="uk-text-right" id="inv_{{ c.id }}">
            </td>
            <td>{{ macros.operating_instruction(c) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block js %}
<script>
var cache = {};
function update_inventory(chem_id) {
    var url = '{{ url("core:api-inventory-chemical", 0) }}'.replace('0', chem_id);
    if (chem_id in cache) {
        res = cache[chem_id];
        $('#pc_'+chem_id).text(res['package_count']);
        $('#inv_'+chem_id).html('<a href="'+res['url']+'">'+res['value']+res['unit']+'</a>');
    } else {
        $.get(url).done(function(res){
            cache[chem_id] = res;
            $('#pc_'+chem_id).text(res['package_count']);
            $('#inv_'+chem_id).html('<a href="'+res['url']+'">'+res['value']+res['unit']+'</a>');
        });
    }
}
function update_all() {
    var ids = {{ ids|tojson }};
    for (i=0; i<ids.length; i++) {
        update_inventory(ids[i]);
    }
}
$(document).ready(function() {
    make_datatable($('#dtable'));
    $('#dtable').on('draw.dt', update_all);
    update_all();
})
</script>
{% endblock %}
