{% extends 'core/base.html' %}

{% block content %}
<h1 class="uk-text-center">{% trans %}Transfer Many Packages{% endtrans %}</h1>
<div class="uk-grid">
    <div class="uk-width-4-10" id="source"></div>
    <div class="uk-width-2-10 uk-text-center">
        <div style="height:50%;"></div>
        <div class="uk-button-group">
            <button class="uk-button uk-button-primary uk-button-large" type="button" onclick="move_package('right', 'left');">
                <i class="uk-icon-arrow-left"></i>
            </button>
            <button class="uk-button uk-button-primary uk-button-large" type="button" onclick="move_package('left', 'right');">
                <i class="uk-icon-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="uk-width-4-10" id="dest"></div>
</div>
{% endblock %}

{% block js %}
<script>
const storages = {{ storages|tojson }};
const places = {{ places|tojson }};
const selected = {
    st_left: 0,
    p_left: 0,
    st_right: 0,
    p_right: 0,
}

function move_package(from_id, to_id) {
    const from_box = document.getElementById(from_id);
    const to_box = document.getElementById(to_id);
    if (from_box !== null && to_box !== null) {
        if (from_box.length < 1 || from_box.options.selectedIndex === -1) {
            return false;
        }
        while (from_box.options.selectedIndex >= 0) {
            let new_option = new Option();
            new_option.text = from_box.options[from_box.options.selectedIndex].text;
            new_option.value = from_box.options[from_box.options.selectedIndex].value;
            to_box.options[to_box.length] = new_option;
            from_box.remove(from_box.options.selectedIndex);
        }
    }
    return false;
}

const Storages = function(initialVnode) {
    return {
        view: function(vnode) {
            return m('div.uk-form-row',
                m('select.uk-width-1-1', 
                    storages.map(function(storage) {
                        return m('option', {value: storage.id}, storage.name);
                }))
            );
        }
    }
}
const Places = function(initialVnode) {
    return {
        view: function(vnode) {
            return m('div.uk-form-row', m('select.uk-width-1-1', [
                m('option', 'Schrank 1'),
                m('option', 'Schrank 2')
                ])
            )
        }
    }
}
let Items = {
    view: function(vnode) {
        return m('div.uk-form-row',
            m('select.uk-width-1-1', {size: 10, multiple: true, id: vnode.attrs.id}, [
                m('option', 'Item 1'),
                m('option', 'Item 2')
            ])
        )
    }
}
const StorageForm = function(initialVnode) {
    return {
        view: function(vnode) {
            return m('form.uk-form', m('fieldset', [
                m(Storages),
                m(Places),
                m(Items, {id: vnode.attrs.id})
                ])
            )
        }
    }
}
const source = document.getElementById('source');
const dest = document.getElementById('dest');
m.mount(source, {view: function() { return m(StorageForm, {id: 'left'})}});
m.mount(dest, {view: function() { return m(StorageForm, {id: 'right'})}});
</script>
{% endblock %}
